WikiApiObjectiveC.xcodeproj/xcuserdata/prine.xcuserdatad/xcschemes/WikiApiObjectiveC.xcscheme
WikiApiObjectiveC.xcodeproj/xcuserdata/prine.xcuserdatad/xcschemes/xcschememanagement.plist
WikiApiObjectiveC.xcodeproj/project.xcworkspace/xcshareddata/WikiApiObjectiveC.xccheckout
WikiApiObjectiveC.xcodeproj/project.xcworkspace/xcuserdata/prine.xcuserdatad/UserInterfaceState.xcuserstate
